<%- include("../partials/header.ejs")%>
<div class="add-school-form">
    <form action="/addSchool" method="POST">
        <h3 style="text-align: center;">School Details</h3>
        <% if (typeof error_message !== 'undefined') { %>
          <p style="text-align: center; color:red"><%= error_message %></p>
        <% } %>
        <div class="form-group">
          <label for="code">School Code:</label>
          <input type="text" class="form-control" id="code" name="code" required>
        </div>
        
        <div class="form-group">
          <label for="name">School Name:</label>
          <input type="text" class="form-control school-input" id="name" name="name" maxlength="200">
        </div>
        
        <div class="form-group">
          <label for="add1">Address(1):</label>
          <input type="text" class="form-control school-input" id="add1" name="add1" maxlength="200">
        </div>
        
        <div class="form-group">
          <label for="add2">Address(2):</label>
          <input type="text" class="form-control school-input" id="add2" name="add2" maxlength="200">
        </div>
        
        <div class="form-group">
          <label for="auth_person">Authorised Person:</label>
          <input type="text" class="form-control school-input" id="auth_person" name="auth_person" maxlength="200">
        </div>
      
      
        <div class="button-submit">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      <div class="button-submit"> 
        <a class="cancel" href="/home"><button type="button" class="btn btn-primary">Cancel</button></a>  
      </div>
      
</div>    
<%- include("../partials/footer.ejs")%>