<%- include("../partials/header.ejs")%>
<div class="add-course-form">
    <form action="/addCourse" method="POST">
        <h3 style="text-align: center; margin-bottom:15px">Course Details</h3>
        <% if (typeof error_message !== 'undefined') { %>
          <p style="text-align: center; color:red"><%= error_message %></p>
        <% } %>
        
        <div class="form-row">
            <label class="student-label" for="year">  Subject: </label>
              <input type="text"  id="year" name="year">
        </div>

        <div class="form-row">
            <label class="student-label" for="std">Class: </label>
            <input type="text" id="std" name="std">
           
        </div>
        
       
        <div class="button-submit">
          <button type="submit" class="btn btn-primary">Add</button>
          <a href="/home" style="margin-left:20px" class="btn btn-primary">Exit</a>
        </div>
    </form>
</div>    

<%- include("../partials/footer.ejs")%>
